/* Import NES.css and the pixel font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
@import url('https://unpkg.com/nes.css@latest/css/nes.min.css');

:root {
  --container-bg: gainsboro;
}

body {
  font-family: 'Press Start 2P', cursive;
  background-color: #f4f4f4;
  padding: 20px;
}

.mt {
  margin-top: 4rem;
}

#navbar {
  background-color: var(--container-bg);
}

.btns-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 12px;
}

#socials {
  background-color: var(--container-bg);
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 300px;
  max-height: 100px;
  gap: 4rem;
}